<%# PROJECT #1 - CRYPTONS %>
<div class="card-product mt-5">
  <%= link_to image_tag("cryptons-homepage.png"), "http://www.cryptons.me",  :target => "_blank"%>

  <div class="card-product-infos">
    <h2>Cryptons</h2>
    <p>This web App is a Real time Cryptocurrency portfolio tracker Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam consequatur vero eos reiciendis pariatur temporibus perferendis, nemo mollitia autem beatae porro dolorum sit incidunt fugiat ad esse tempore explicabo voluptatibus!<strong></strong></p>
  </div>
</div>

<%# PROJECT #2 - BEER ORIGINS %>
<div class="card-product2 mt-5">
  <div class="card-product2-infos">
    <h2>Beer Origins</h2>
    <p>This web App is a AirBnb clone of Craft Beer factory. <strong></strong></p>
    <p>This web App is a Real time Cryptocurrency portfolio tracker This app will help Craft Beer factory to made their factory more famous and to let people discover how to make beer form scratch. People will be able to visit the entire factory and sleep there for a day or a week end<strong></strong></p>
  </div>
  <a href="www.beerorigins.me">
    <%= image_tag 'origin-show.png' %>
  </a>
</div>
