<div class="card-trip">
  <%= link_to image_tag("cryptons-homepage.png"), "http://www.cryptons.me", target: "_blank"%>
  <div class="card-trip-infos">
    <div>
      <h2><%= link_to "Cryptons", "http://www.cryptons.me", target: "_blank" %></h2>
      <p>This web App is a Real time Cryptocurrency portfolio tracker</p>
    </div>
  </div>
</div>
<br>
<div class="card-trip">
  <%= link_to image_tag("origin-show.png"), "http://www.beerorigins.herokuapp.com", target: "_blank" %>
  <div class="card-trip-infos">
    <div>
      <h2><%= link_to "Beer Origins", "http://www.beerorigins.herokuapp.com", target: "_blank" %></h2>
      <p>This web App is a clone of Airbnb about Craft Beer Factory</p>
    </div>
  </div>
</div>
