<div class="card-trip">
  <%= image_tag 'cryptons-homepage.png' %>
  <div class="card-trip-infos">
    <div>
      <h2>Cryptons</h2>
      <p>This web App is a Real time Cryptocurrency portfolio tracker</p>
    </div>
  </div>
</div>

<div class="card-product mt-5">
  <%= image_tag 'cryptons-homepage.png' %>
  <div class="card-product-infos">
    <h2>Cryptons</h2>
    <p>This web App is a Real time Cryptocurrency portfolio tracker <strong></strong></p>
  </div>
</div>
<div class="card-product mt-5">
  <div class="card-product-infos">
    <h2>Beer Origins</h2>
    <p>This web App is a AirBnb clone of Craft Beer factory. <strong></strong></p>
  </div>
  <%= image_tag 'cryptons-homepage.png' %>
</div>
