<div class="card-trip">
  <img src="cryptons-homepage.png" />
  <div class="card-trip-infos">
    <div>
      <h2>Cryptons</h2>
      <p>This webApp is a Real time Cryptocurrency portfolio tracker</p>
    </div>
  </div>
</div>
