<div class="banner m-3" style="background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/574071/pexels-photo-574071.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);">
  <div class="d-flex">
    <div class="container ml-5">
      <h2>Hey there 👋🏼 </h2>
      <h1>I'm <span class="myname" >Arthur</span> !</h1>
      <p>A passionate Full Stack Developer</p>
      <a class="btn btn-flat m-5" href="project">Check my Portfolio</a>
    </div>
    <div class="container ml-5 pl-5">
      <h1><%= link_to image_tag('arthur-emoji.png') %></h1>
    </div>
  </div>
</div>
<div class="hero-section m-5 p-5">
  <h2>Learn more about me</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vel molestie dui, vel commodo metus. Curabitur vitae quam augue. Maecenas viverra arcu venenatis ligula venenatis cursus sed vel augue. Nulla orci felis, tempor ac laoreet tempor, egestas vel augue. Nulla maximus lorem sed sem sollicitudin feugiat. Morbi consectetur interdum massa, ut interdum augue suscipit sollicitudin. Curabitur mattis felis enim, sit amet posuere diam cursus at. Duis porta metus eget felis rutrum tempor. Cras convallis condimentum enim nec placerat. Mauris quam odio, iaculis eget ultrices pharetra, suscipit eu nibh. Quisque lorem est, imperdiet vel neque vitae, tristique malesuada neque. Fusce suscipit quam et lacus scelerisque tempus. Sed eleifend laoreet nisl, ac feugiat nunc hendrerit sit amet. Vivamus pellentesque tortor et mi tempus, at lobortis neque tincidunt. Donec pulvinar pretium lorem ut porttitor. Quisque vitae felis eu metus maximus elementum et nec elit. Phasellus fringilla nunc finibus lectus hendrerit scelerisque. Nam id luctus risus.</p>
  <br>
</div>
<h2 class="m-5">Wanna see more about my projects ?</h2>
<div>
  <%= render 'shared/card-overview' %>
</div>
<div>
  <%= render 'shared/card-overview' %>
</div>
