// CARD PRODUCT #1
.card-product {
  overflow: hidden;
  height: 600px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 1200px;
  object-fit: cover;
}


.card-product h2 a {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  text-decoration: none;
  color: black;
}

.card-product p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  text-align: justify;
}

.card-product .card-product-infos {
  padding: 100px;
  a {
    text-decoration: none;
    color: black;
  }
}

// CARD PRODUCT #2
.card-product-right {
  overflow: hidden;
  height: 600px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  align-items: center;
  display: flex;
}

.card-product-right img {
  height: 100%;
  width: 1200px;
  object-fit: cover;
  float: right;
}

.card-product-right h2 a {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  text-decoration: none;
  color: black;
}

.card-product-right p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  text-align: justify;
}

.card-product-right .card-product-infos-right {
  padding: 100px;
  a {
    text-decoration: none;
    color: black;
  }
}
